.panel {
  background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*HEADER*/
.box-score {
  position: relative;
  color: #494949;
}

.row.pad {
  padding-left: 24px;
  padding-right: 24px;

  display: grid;
  align-items: center;
  justify-content: center;
}

.row {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  *zoom: 1;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.box-score-header {
  display: flex;
  margin: 0;
  padding: 0;
}

.box-score-graphic {
  display: flex;
  flex: 1;
  min-width: 1px;
  min-height: 1px;
  padding: 0 10px;
}

.box-score-graphic > * {
  display: flex;
  text-align: center;
}

.box-score-graphic .team {
  flex: 2;
  min-width: 1px;
  min-height: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-score-graphic .team img {
  display: inline-block;
  vertical-align: bottom;
  max-width: 100%;
  height: 200px;
}

.box-score-graphic .team .score {
  font-size: 40px;
  line-height: 1.5;
  white-space: nowrap;
  font-weight: bold;
}

.box-score-graphic .team .score.winner {
  font-weight: bold;
}

.box-score-graphic .team .score.loser {
  color: #767676;
}

.box-score-graphic .bracket {
  flex: 1;
  min-width: 1px;
  min-height: 1px;
  position: relative;
}

.box-score-graphic .bracket:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #cccccc;
  margin-left: -1px;
}

.box-score-graphic .bracket span {
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.box-score-graphic .bracket span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border: 0px solid #cccccc;
  border-radius: 50%;
  padding: 10px;
  line-height: 1;
  background-color: white;
  font-weight: bold;
  font-size: 120%;
}

.box-score-graphic .bracket span:before {
  content: '';
  display: block;
  border: 1px solid #cccccc;
  border-radius: 70% 0%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.box-score-graphic .bracket span:after {
  content: '';
  width: 36px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
}

.box-score-header figcaption {
  flex: 1;
  padding: 0 10px;
}

.main-heading {
  font-size: 1.5em;
  line-height: 1.3;
  margin: 1em 0;
  padding: 0;
  border: none;
  position: static;
}

.box-score table {
  margin-bottom: 0px;
}

.sidearm-table {
  width: 100%;
  border-collapse: collapse;
}

.info-graphic table caption,
figure.box-score-header table caption {
  display: none !important;
}

.box-score table caption {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 2;
  border-bottom: 5px solid black;
  text-align: left;
}

/*THEAD*/
figure.box-score-header table thead {
  border-bottom: none;
}

.info-graphic table thead,
figure.box-score-header table thead {
  border-bottom: 2px solid black;
  background: none;
}

.sidearm-table thead {
  background: none;
}

/*TH*/
.info-graphic table thead th:first-child,
figure.box-score-header table thead th:first-child {
  text-indent: -9999px;
  width: 60%;
}

.info-graphic table thead th+th,
figure.box-score-header table thead th+th {
  text-align: right;
}

.info-graphic table thead th,
figure.box-score-header table thead th {
  color: black;
  font-weight: bold;
  padding: 0 10px;
  font-size: 16px;
  vertical-align: bottom;
}

.sidearm-table thead th {
  font-weight: bold;
  padding: 4px 8px;
  font-style: italic;
  color: #494949;
  vertical-align: bottom;
}

.sidearm-table th, .sidearm-table td {
  word-break: normal;
  font-size: 14px;
}

/*TBODY*/
.info-graphic table tbody tr,
figure.box-score-header table tbody tr {
  border-bottom: 1px solid #cccccc;
}

.sidearm-table tbody tr {
  border-top: 1px solid #cccccc;
  background: none;
}

figure.box-score-header table tbody tr td:first-child,
figure.box-score-header table tbody tr th:first-child {
  border-left: 1px solid #cccccc;
  width: 40%;
}

figure.box-score-header table tbody tr td,
figure.box-score-header table tbody tr th {
  border-right: 1px solid #cccccc;
}


.info-graphic table tbody td,
figure.box-score-header table tbody td,
.info-graphic table tbody th,
figure.box-score-header table tbody th {
  padding: 5px 10px;
  text-align: left;
  font-size: 1em;
  color: #494949;
}

.sidearm-table tbody tr td,
.sidearm-table tbody tr th {
  padding: 4px 8px;
  color: #494949;
  border: 1px solid #cccccc;
  vertical-align: top;
}

.sidearm-table tbody tr th {
  text-align: left;
  font-weight: normal;
}

.sidearm-table th,
.sidearm-table td {
  word-break: normal;
  font-size: 0.9em;
}

.info-graphic table tbody td+td,
figure.box-score-header table tbody td+td,
.info-graphic table tbody th+td,
figure.box-score-header table tbody th+td {
  text-align: right;
}

.sidearm-table tbody tr td.emphasize,
.sidearm-table tbody tr th.emphasize {
  background-color: #e5e5e5;
  font-weight: bold;
}


.box-score table tr.emphasize,
.box-score table td.emphasize {
  background-color: #e5e5e5;
  font-weight: bold;
}

/*DL*/

.football header dl,
.sfootball header dl {
  padding: 10px;
  margin-top: 20px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.box-score dl {
  margin: 0;
  padding: 0;
  *zoom: 1;
}

.box-score dl:after {
  clear: both;
}

.box-score dl:before,
.box-score dl:after {
  content: "";
  display: table;
}

.box-score dl.inline dt,
.box-score dl.inline dd {
  float: none;
  clear: none;
  display: inline;
  margin-left: 0;
}

.box-score dl dt {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0;
}

.box-score dl dt {
  float: left;
  clear: left;
}

.box-score dl dt,
.box-score dl dd {
  display: block;
}

.box-score dl.inline dd {
  margin: 0 10px 0 2px;
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

/*SECTION*/

.column,
.columns {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  float: left;
  min-height: 1px;

  display: flex;
  flex-direction: column;
}

/*SCORING SUMMARY*/


.box-score table caption {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 2;
  border-bottom: 5px solid black;
  text-align: left;
  caption-side: top;
}

.box-score table.scoring-summary tfoot tr {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.sidearm-table tfoot tr:nth-child(odd),
.sidearm-table tfoot tr:nth-child(even) {
  background-color: #e5e5e5;
}

.sidearm-table tfoot tr {
  background-color: #e5e5e5;
  border-top: 1px solid white;
}


.sidearm-table tfoot th, 
.sidearm-table tfoot td {
    padding: 4px 8px;
    font-weight: bold;
    color: #494949;
    text-align: left;
}

.sidearm-table th,
.sidearm-table td {
  word-break: normal;
  font-size: 0.9em;
}

.scoring-summary td:not(td:nth-child(3)){
  text-align: center;
}

.scoring-summary th {
  text-align: center;
}

/*REFS*/

.sidearm-table tfoot tr:nth-child(odd),
.sidearm-table tfoot tr:nth-child(even) {
  background-color: #e5e5e5;
}

.sidearm-table tfoot tr {
  background-color: #e5e5e5;
  border-top: 1px solid white;
}

.box-score table tfoot td,
.box-score table tfoot th {
  border-right: 1px solid #cccccc;
}

.sidearm-table tfoot th,
.sidearm-table tfoot td {
  padding: 4px 8px;
  font-weight: bold;
  color: #494949;
  text-align: left;
}

.sidearm-table tr td span {
  font-weight: 400 !important;
}