#headerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  padding-top: 10px;

  background-color: white;
  border-bottom: 1px solid rgb(225, 225, 225);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.15);
}

#scoreboard {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#scoreboard img {
  height: 60px;
  margin: 10px 20px;
}


#homeScoreboard, #visScoreboard { 
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#homeTeam, #visTeam {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

#homeName, #visName {
  font-size: 36px;
  font-weight: 700;
  margin: 10px;
  order: 2;
  flex-shrink: 0;
  text-transform: uppercase;
}

#homeRecord, #visRecord {
  font-size: 20px;
  margin-top: 10px;
  order: 3;
  flex-shrink: 0;
}

#homeScore, #visScore {
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
  order: 2;
}

#vs {font-size: 40px;}

#visScore {
  order: 1;
  margin-left: 20px;
}

#visTeam {
  order: 2;
}

#visRecord {
  order: 1;
}

#visName {
  order: 2;
}

#visLogo {
  order: 3;
}

#homeLogo {
  order: 1;
}

.navBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
  background-color: white;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  outline: 2px solid rgb(190, 190, 190);
  padding: 18px 36px;
  overflow: hidden;
  transition: color 0.15s;
  transition: background-color 0.15s;
  cursor: pointer;

  margin: 5px 10px;
}

.button:hover {
  color: white;
  background-color: blueviolet;
}

.contentDiv {
  display: none;
}

.indStatContainer {
  display: flex;
  justify-content: space-evenly;
}