#scoreboard {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid rgb(225, 225, 225);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.15);
}

#scoreboard img {
  height: 60px;
  margin: 10px 20px;
}

#homeScoreboard, #visScoreboard { 
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#homeTeam, #visTeam {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#homeName, #visName {
  font-size: 40px;
  font-weight: 700;
  margin: 10px;
  order: 2;
}

#homeRecord, #visRecord {
  font-size: 20px;
  margin-top: 10px;
  order: 3;
}

#homeScore, #visScore {
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
  order: 2;
}

#vs {font-size: 40px;}

#visScore {
  order: 1;
  margin-left: 20px;
}

#visTeam {
  order: 2;
}

#visRecord {
  order: 1;
}

#visName {
  order: 2;
}

#visLogo {
  order: 3;
}

#homeLogo {
  order: 1;
}